# NPM Configuration
registry=https://registry.npmjs.org/
save-exact=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
prefer-workspace-packages=true

# Add your tokens here:
# //npm.fontawesome.com/:_authToken=YOUR_TOKEN_HERE
# //registry.npmjs.org/:_authToken=YOUR_NPM_TOKEN_HERE
